variables:
  DOCKER_REGISTRY_URL: docker.io
  STORAGE_DRIVER: vfs
  BUILDAH_FORMAT: docker
  FQ_IMAGE_NAME: "docker.io/thetorproject/webtunnel-bridge"

stages:
  - test
  - build
  - container

unit_test:
  image: ${DOCKER_REGISTRY_URL}/golang:1.24-bookworm
  stage: test
  variables:
    GOARCH: amd64
  tags:
    - amd64
  script: ./release/test.sh

unit_test_arm64:
  extends: unit_test
  variables:
    GOARCH: arm64
  tags:
    - arm64

build_amd64_linux:
  image: ${DOCKER_REGISTRY_URL}/golang:1.24-bookworm
  stage: build
  variables:
    GOARCH: amd64
    GOOS: linux
  tags:
    - amd64
  artifacts:
    paths:
      - build/amd64-linux/
  script: ./release/build.sh

build_arm64_linux:
  extends: build_amd64_linux
  stage: build
  variables:
    GOARCH: arm64
    GOOS: linux
  artifacts:
    paths:
      - build/arm64-linux/

build_server_container_amd_64:
  stage: container
  image: quay.io/buildah/stable
  script:
    - buildah build --platform=linux/amd64 -t ${FQ_IMAGE_NAME}:amd64
    - mkdir -p container_image
    - buildah push ${FQ_IMAGE_NAME}:amd64 docker-archive:container_image/webtunnel-server-amd64.tar
  artifacts:
    paths:
      - container_image/webtunnel-server-amd64.tar

build_server_container_arm_64:
  stage: container
  image: quay.io/buildah/stable
  script:
    - buildah build --platform=linux/arm64/v8 -t ${FQ_IMAGE_NAME}:arm64
    - mkdir -p container_image
    - buildah push ${FQ_IMAGE_NAME}:arm64 docker-archive:container_image/webtunnel-server-arm64.tar
  artifacts:
    paths:
      - container_image/webtunnel-server-arm64.tar
  tags:
    - arm64
