variables:
  DOCKER_REGISTRY_URL: docker.io

stages:
  - test
  - build
  - container

unit_test:
  image: ${DOCKER_REGISTRY_URL}/golang:1.24-bookworm
  stage: test
  variables:
    GOARCH: amd64
  tags:
    - amd64
  script: ./release/test.sh

unit_test_arm64:
  extends: unit_test
  variables:
    GOARCH: arm64
  tags:
    - arm64

build_amd64_linux:
  image: ${DOCKER_REGISTRY_URL}/golang:1.24-bookworm
  stage: build
  variables:
    GOARCH: amd64
    GOOS: linux
  tags:
    - amd64
  artifacts:
    paths:
      - build/amd64-linux/
  script: ./release/build.sh

build_arm64_linux:
  extends: build_amd64_linux
  stage: build
  variables:
    GOARCH: arm64
    GOOS: linux
  artifacts:
    paths:
      - build/arm64-linux/

build-server-container:
  stage: container
  image: containers.torproject.org/tpo/tpa/base-images/podman:stable
  variables:
    STORAGE_DRIVER: vfs
    BUILDAH_FORMAT: docker
    FQ_IMAGE_NAME: "${DOCKER_REGISTRY_URL}/thetorproject/webtunnel-bridge"
  script:
    - podman build -t $FQ_IMAGE_NAME .
    - mkdir -p container_image
    - podman push $FQ_IMAGE_NAME docker-archive:container_image/webtunnel-server.tar
  artifacts:
    paths:
      - container_image/webtunnel-server.tar
